* {
    top: 50%;
    left: 50%;
    text-align: center;
    
    
}

body * {
    font-family: 'Heebo';
    text-align: center;
     width: 100%;
   
   
}

body {
    background: linear-gradient(107.54deg, #935FD3 0%, #9245F1 100%);
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 16px;
    gap: 24px;
    position: absolute;
    width: 375px;
    height: 584px;
    left: calc(50% - 375px/2 + 0.5px);
    top: 72px;

    /* gray 500 */

    background: #FDFCFE;
    /* gray 400 */

    border: 1px solid #F4EFFA;
    box-shadow: 0px 52px 21px rgba(30, 30, 30, 0.01), 0px 29px 18px rgba(30, 30, 30, 0.05), 0px 13px 13px rgba(30, 30, 30, 0.09), 0px 3px 7px rgba(30, 30, 30, 0.1), 0px 0px 0px rgba(30, 30, 30, 0.1);
    border-radius: 12px;
}

.profile {

padding: 0px;
gap: 1px;
width: 327px;
height: 48px;

}

.profile img {
width: 48px;
height: 48px;
border-radius: 8px;
display:inline-block;
position: absolute;
top: 5%; 
left: 8%;
  

}


.title {
width: 142px;
height: 24px;
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
display: inline-block;
color: #38343D;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: absolute;
top: 2%; 
left: 25%;


}

.subtitle {
    align-items: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #686071;
    position: absolute;
    top: 7%; 
    left: 2%;
    

}



.menu {
    width: 416px;
    margin: 0 auto;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    height: 96px;
    justify-content: center;
    
  }
  
  .category-header {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: auto;
  }
  
  .name {
    font-weight: bold;
  }
  
  .submenu {
    margin-top: 2px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
  }
  
  .subitem {
    display: flex;
    align-items: center;
    margin-top: 4px; 

  }
  
  .line {
    width: 327px;
    height: 0px;
    border: 1px solid #F4EFFA;
    margin: 16px 0;
    
  }
  
  .name {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #797085;
  }
  
  .subname {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #38343D;
    flex: none;
   
    flex-grow: 1;
    padding: 5px;
  }

  .subname-sair {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #AA2222;
    flex: none;
   
    flex-grow: 1;
    padding: 5px;
  }
  
  
  .icon-left {
    width: 20px;
    height: 20px;
    flex: none;
    
    
  }

  .icon-left-sair {
    width: 15px;
    height: 15px;
    flex: none;
    

  }
